bin/
obj/
data/
.git/
.vs/
.vscode/
*.md
*.sln
*.user
*.DotSettings*
Properties/launchSettings.json
**/node_modules/
**/*.Tests/
**/*.Tests.csproj
docker-compose*.yml
.dockerignore
Dockerfile
tailwindcss-windows-x64.exe
